{% extends 'base.html.twig' %}

{% block title %}Hello CarsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper">
   

 
    <ul>
        Car with id {{ car.counter }} is called <h1> {{ car.name }}</h1>  built in {{ car.year }} has color {{ car.color }}       
    </ul>

  {{form(delete_form)}}
</div>




{% endblock %}
